<html>
<head></head>
<body>
    Hej!<br><br>
    
    Detta mail har just nu inget innehåll pga. av avsaknad av vettig konfigurering.<br><br>

    Med vänliga hälsningar,<br><i>Team Digi:T<br>Haninge Kommun</i><br>
</body>
</html>