<html>
<head></head>
<body>
    Hej!<br><br>
    
    Du har ett ärende från Haninge Kommun som du behöver hantera.<br><br>

    Logga in på <a href="https://haninge.se/minasidor">Mina Sidor</a> för att se ditt ärende.
  
    Med vänliga hälsningar,<br><i>Haninge Kommun</i><br>
</body>
</html>